include templates/mixins/svg.pug

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    p test texts

    img(src= require('./images/f.svg'), alt="facebook")
    img(src= require('./images/test.jpg'), alt="facebook")

    include templates/elements/nav.pug