html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title D
  body
    h1 1
    include ./templates/nav/index.pug
    include ./templates/footer/index